h1 {
  color: #582C83;
}
h2 {
  color: #582C83;
}
h3 {
  color: #582C83;
}
h4 {
  color: #582C83;
}
h5 {
  color: #582C83;
}
h6 {
  color: #582C83;
}

a:link {
  color: #582C83;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #582C83;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #582C83;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #582C83;
  background-color: transparent;
  text-decoration: none;
}
